.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 22px 22px;
    color: rgb(39, 243, 87);
    font-size: 15px;
    font-weight: bold;
    font-family: fantasy;
  }
  